body{
    background-color: #dedede;
}


.key{
    width: 99px;
    height: 550px;
    background-color: #ffffff;
    border-radius: 10px;           
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    display: flex;
    justify-content: center;
    align-items: end;
}
.key p{
    color: black;
}

.keyC4::after{
    content: "";
    width: 40px;
    height: 320px;
    background-color: black;
    position: absolute;
    bottom: 278px;
    left: 73px;
    border-radius: 0 0 0 10px;
}
.keyD4::before{
    content: "";
    width: 40px;
    height: 320px;
    background-color: black;
    position: relative;
    bottom: 230px;
    right: 10px;
    border-radius: 0 0 10px 0;
}
.keyD4::after{
    content: "";
    width: 40px;
    height: 320px;
    background-color: black;
    position: relative;
    bottom: 230px;
    left: 10px;
    border-radius: 0 0 0 10px;
}
.keyE4::before{
    content: "";
    width: 40px;
    height: 320px;
    background-color: black;
    position: absolute;
    bottom: 278px;
    left: 200px;
    border-radius: 0 0 10px 0;
}
.keyF4::after{
    content: "";
    width: 40px;
    height: 320px;
    background-color: black;
    position: absolute;
    bottom: 278px;
    left: 380px;
    border-radius: 0 0 0 10px;
}
.keyG4::before{
    content: "";
    width: 40px;
    height: 320px;
    background-color: black;
    position: relative;
    bottom: 230px;
    right: 15px;
    border-radius: 0 0 10px 0;
}
.keyG4::after{
    content: "";
    width: 40px;
    height: 320px;
    background-color: black;
    position: relative;
    bottom: 230px;
    left: 4px;
    border-radius: 0 0 0 10px;
}
.keyA4::before{
    content: "";
    width: 40px;
    height: 320px;
    background-color: black;
    position: absolute;
    bottom: 278px;
    right: 290px;
    border-radius: 0 0 10px 0;
}
.keyA4::after{
    content: "";
    width: 40px;
    height: 320px;
    background-color: black;
    position: absolute;
    bottom: 278px;
    right: 200px;
    border-radius: 0 0 0 10px;
}
.keyB4::before{
    content: "";
    width: 50px;
    height: 320px;
    background-color: black;
    position: absolute;
    bottom: 278px;
    right: 178px;
    border-radius: 0 0 10px 0;
}

.btn:hover{
    box-shadow: 4px 4px #afafaf69 !important;
    background-color: var(--bs-light) !important;
    color: var(--bs-dark) !important;
    transition: .4s!important;
}

.key:hover{
    background-color: #f3f3f3;
}

input .form-control:focus{
    border : none;
}

input:hover{
    box-shadow: 4px 4px #afafaf69 !important;
    background-color: var(--bs-light) !important;
    color: var(--bs-dark) !important;
    transition: .4s!important; 
}
